.process{
 width: 60%;
 margin: 0 auto;
}

.process .category h2{
  border-bottom: 3px ridge white;
  margin-bottom: 0.25em;
}


.process .numbered li{
  margin-left: 2em;
  list-style: decimal;
  margin-bottom: 0.25em;
  padding-bottom: 0.25em;
}


.process .alpha li{
  margin-left: 2em;
  list-style: lower-alpha;
  padding-bottom: 0.25em;
  font-size: 0.90em;
}

