footer{
  padding: 2em 1em;
  background-color: black;
  color:white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .contact{
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: right;
}

footer .icon{
  width: 2em;
  height: 2em;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
