/* Reset default browser styles */
body, h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color:white;
}

/* Set global styles */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(39, 39, 39);
  padding-top: 7em;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998; /* Adjust the z-index value as needed */
  /* Add any other styling properties for your header */
}

footer {
  margin-top: 1.5em;
}
