/* Reset default browser styles */
body, h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color:white;
}

/* Set global styles */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(39, 39, 39);
  padding-top: 8em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998; /* Adjust the z-index value as needed */
  /* Add any other styling properties for your header */
}

footer {
  margin-top: 1.5em;
}
