.studio{
  text-align: center;
}

.studio{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.studio .text{
  text-align: left;

}


.studio .map{
  height: 400px;
  width: 800px;
}

